@{
    ViewBag.Title = "Home Page";
    var dice1 = @"..\images\die_face_1.png";
    var dice2 = @"..\images\die_face_2.png";
}

<div class="jumbotron">
    <h1>Vail Resorts</h1>
    <p class="lead">Roll the dice...</p>
    <p>@Html.ActionLink("Roll", "RollDice", null, new { @class = "btn btn-primary btn-lg", id = "btn-roll-dice" })</p>
</div>
<div>
    <img id ="dice1" src="@Url.Content(dice1)" alt="Image" style="height:100px;width:100px;" />
    <img id ="dice2" src="@Url.Content(dice2)" alt="Image" style="height:100px;width:100px;" />
</div>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script type="text/javascript">
        $(document).ready(function () {
            var serviceURL = '/AjaxTest/FirstAjax';

            $("#btn-roll-dice").click(function (event) {
                event.preventDefault();
                //alert("roll dice");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RollDice", "Home")',
                    contentType: "application/json; charset=utf-8",
                    data: { a: "testing" },
                    dataType: "json",
                    success: function (data) {
                        successFunc(data);
                    },
                    error: errorFunc
                });
            });

            function errorFunc() {
                alert('error');
            }

            function successFunc(data) {
                d = new Date();
                $("#dice1").attr("src", data.DiceImages[0] + "?" + d.getTime());
                $("#dice2").attr("src", data.DiceImages[1] + "?" + d.getTime());
            }
        });
</script>
