@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vail Resorts</h1>
    <p class="lead">Roll the dice...</p>
    <p class="lead">Number of dice : @Html.DropDownList("NumberOfDice", Enumerable.Range(1, 6).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString(), Selected = (i==2) })) </p>

    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Roll", "RollDice", null, new { @class = "btn btn-primary btn-lg", id = "btn-roll-dice" })
        </div>
        <div class="col-md-2">
            <a id="clearView" class="btn btn-primary btn-lg">Clear</a>
        </div>
        <div class="col-md-2">
            <a href="@ViewBag.WebApiUrl" class="btn btn-primary btn-lg" title="@ViewBag.WebApiUrl">Roll 2 Via Web API Call</a>
        </div>
    </div>

</div>
<div id="results">
</div>


@section Scripts {
<script type="text/javascript">
        $(document).ready(function () {

            $("#btn-roll-dice").click(function (event) {
                event.preventDefault();
                var numDice = $("#NumberOfDice").val();
                var serviceURL = '/Home/RollDice?NumberOfDice=' +numDice;
                $.ajax({
                    type: "GET",
                    url: serviceURL,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        successFunc(data);
                    },
                    error: errorFunc
                });
            });

            function errorFunc() {
                alert('error');
            }

            function successFunc(data) {
                var resultDiv = $("#results");
                resultDiv.prepend('<br/>')
                for (var i = 0, len = data.DiceImages.length; i < len; i++) {
                    resultDiv.prepend('<img id ="dice1" src=' + data.DiceImages[i]  + ' style="height:100px;width:100px;" />')
                }
            }

            $("#clearView").click(function (event) {
                event.preventDefault();
                $("#results").empty();
            });

        });
</script>
}


